{% extends 'base.html.twig' %}

{% block title %}Nuevo proveedor{% endblock %}

{% block body %}
    <h1>Nuevo proveedor</h1>

    {{ include('provider/_form.html.twig') }}

    <a href="{{ path('providers') }}">Regresar</a>
{% endblock %}